* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

/*** Gallery ***/
.gallery {
  overflow: hidden;
  display: grid;
  /* grid-template-columns: 505px 190px 295px 190px; */
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 170px);
  gap: 20px;
}

.gallery__item-1 {
  background: url("../img/gallery-images/1.jpg") -236px bottom no-repeat;
  grid-row: 1 / span 3;
}
.gallery__item-2 {
  background: url("../img/gallery-images/2.jpg") center no-repeat;
}
.gallery__item-3 {
  background: url("../img/gallery-images/3.jpg") center no-repeat;
  grid-row: 2 / span 2;
}
.gallery__item-4 {
  background: url("../img/gallery-images/4.jpg") -195px center no-repeat;
  grid-row: 1 / span 2;
}
.gallery__item-5 {
  background: url("../img/gallery-images/5.jpg") center no-repeat;
  grid-area: 3 / 3 / 4 / 4;
}
.gallery__item-6 {
  background: url("../img/gallery-images/6.jpg") center no-repeat;
}
.gallery__item-7 {
  background: url("../img/gallery-images/7.jpg") center no-repeat;
}
.gallery__item-8 {
  background: url("../img/gallery-images/8.jpg") center no-repeat;
}

.gallery__item {
  background-size: cover;
}

/*** Career Support ***/
.career-support {
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 20px 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cards__item {
  padding: 20px;
  background-color: #f2f7ff;
  box-shadow: 0px 4px 10px rgba(124, 124, 124, 0.25);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 15px 0;
}

.career-support__title {
  color: #1560bd;
  font-size: 24px;
  text-align: center;
}

.cards__title {
  color: #1560bd;
  font-size: 20px;
  line-height: 26px;
  position: relative;
}

.cards__title::before {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background: linear-gradient(
    90deg,
    rgba(255, 122, 0, 1) 20%,
    rgba(23, 61, 122, 1) 100%
  );
  position: absolute;
  left: 0;
  bottom: -5px;
}

.cards__text {
  color: #424242;
  line-height: 24px;
}
